/prueba
/DNI-Invalidos
/DNI-Validos
best_modelResNet18_dni_adjusted.pth
/tools/__pycache__
/tools/__init__.py
best_model.pt
dni_anomaly_detector.pth
valid.zip
valid
datasetSeg/YOLODataset/
YOLODataset_seg/
dorso_test/
dorso_test_with_bbox/
frente/
frente_test/
frente_test_with_bbox/
dorso/
runs/
valid_with_bbox/
datasetSeg/YOLODataset/yolo11m-seg.pt
data/
datasetSeg/
invalidconvertidas/
test/DniFrente 1.jpg
validrecorte/
yolo11m-cls.pt
yolo11n.pt
yolov8n-cls.pt
